pipeline/On Blob Trigger.json
{
	"name": "On Blob Trigger",
	"properties": {
		"activities": [
			{
				"name": "Product LookUp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ProductJson",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Input Params",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Product LookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "AzInputParams",
					"value": {
						"value": "@activity('Product LookUp').output.value[0].Products",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Invoke Azure Function for Business Logic",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "FunctionAPI",
					"method": "POST",
					"body": {
						"value": "@variables('AzJsonParams')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction_Input",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set JSON",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Input Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "AzJsonParams",
					"value": {
						"value": "@concat('\n{\"Products\":[',\njoin(variables('AzInputParams'),\n ','),']}')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"AzInputParams": {
				"type": "Array"
			},
			"AzJsonParams": {
				"type": "String"
			}
		},
		"annotations": []
	}
}